# Git ignore
node_modules/
.DS_Store
*.log
.env
.cache

# Development/Local Only
model/
!model/.gitkeep

# Testing artifacts
reports/
coverage/

# Language specific
__pycache__/
*.pyc
venv/
.venv/
target/
Cargo.lock # Rust app lock (keep for bin, strip for lib - we are lib here, but for dev it is fine)
.hatch/
dist/
build/
.ipynb_checkpoints/

# Model artifacts
*.onnx
*.tflite
data/monocr.json
